/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	/* background: url('http://thecodeplayer.com/uploads/media/gs.png'); */
	/*background = gradient + image pattern combo*/
	background:
		/* linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)),
        url('http://thecodeplayer.com/uploads/media/gs.png'); */
        rgba(226, 226, 226, 0.25);

}

body {
    font-family: montserrat, arial, verdana;
    background: rgba(0, 0, 0, 0);
}
/*form styles*/
#msform {
	width: 1200px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;

	box-sizing: border-box;
    width: 95%;
    margin: 0 3%;

	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	/* padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
    font-size: 13px; */
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin: -26px 0 16px 47px;
    width: 100%;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: rgb(31, 30, 30);
	text-transform: uppercase;
	font-size: 14px;
	width: 13.3%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
    margin: 0 0 21px 0px;
}


#soltero, #casado, #viudo {
    display:none;
}

#sol_hijo-error, #sol_edad-error{
    display:none;
    margin: 43px 0 0px 177px;
    position: absolute;
}

label.tit, .ced {
    margin: 8px 0 18px 13px;
}

label.certificado {
    margin: 5px 0px 0 -14px;
}

label.certificado2 {
    margin: 5px 0 0 0;
}

.tit_enf {
    margin: 0 0 0 -741px;
    display: inline;
}

.form-check-inputce{
    margin: 14px 5px 0px -996px;
    position: relative;
}

.form-check-inputcr{
    margin: 14px 5px 17px -987px;
    position: relative;
}

.tit_enff {
    margin: 0 0 0 -730px;
    display: inline;
}

.tit_eme {
    margin: 0 0 0 -784px;
    display: inline;
}

/*chosen*/
.chosen-container {
    width: 100% !important;
}

/*Calendarios*/
div#ui-datepicker-div {
    width: 25%;
}

.foto_tex2 {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*subir imagen*/
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 148px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 72px;
}

#img_pre img{
    width: 148px;
    height: 100px;
    margin: 0 0 33px 0px;
}

.image-upload-curp > input
{
    display: none;
}

.image-upload-curp img
{
    width: 148px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 72px;
}

#img_pre_curp img{
    width: 148px;
    height: 100px;
    margin: 0 0 33px 0px;
}

/*Previo curp_coy*/
.image-upload-curp_coy > input
{
    display: none;
}

.image-upload-curp_coy img
{
    width: 148px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 72px;
}

#img_pre_curp_coy img{
    width: 148px;
    height: 100px;
    margin: 0 0 33px 0px;
}

/*Previo titulo*/
.image-upload-titulo > input
{
    display: none;
}

.image-upload-titulo img
{
    width: 148px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 72px;
}

#img_pre_titulo img{
    width: 148px;
    height: 100px;
    margin: 0 0 33px 0px;
}

/*Previo cedula*/
.image-upload-cedula > input
{
    display: none;
}

.image-upload-cedula img
{
    width: 148px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 72px;
}

#img_pre_cedula img{
    width: 148px;
    height: 100px;
    margin: 0 0 33px 0px;
}

/*Previo curp-coy*/
.image-upload-curp-coy > input
{
    display: none;
}

.image-upload-curp-coy img
{
    width: 148px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 72px;
}

#img_pre-curp-coy img{
    width: 148px;
    height: 100px;
    margin: 0 0 33px 0px;
}

/*Previo curp-hijo*/
.image-upload-curp-hijo > input
{
    display: none;
}

.image-upload-curp-hijo img
{
    width: 100px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 50px;
}

.img_pre-curp-hijo img{
    width: 100px;
    height: 70px;
    margin: 0 0 33px 0px;
}


/*Previo titulo*/
.image-upload-carga-titulo > input
{
    display: none;
}

.image-upload-carga-titulo img
{
    width: 100px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 50px;
}

.img_pre-carga-titulo img{
    width: 100px;
    height: 70px;
    margin: 0 0 33px 0px;
}

/*Previo cedula*/
.image-upload-certificado > input
{
    display: none;
}

.image-upload-carga-cedula img
{
    width: 100px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 50px;
}

.img_pre-carga-cedula img{
    width: 100px;
    height: 70px;
    margin: 0 0 33px 0px;
}


/*Previo idioma*/
.image-upload-certificado > input
{
    display: none;
}

.image-upload-certificado img
{
    width: 100px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 50px;
}

.img_pre-certificado img{
    width: 100px;
    height: 70px;
    margin: 0 0 33px 0px;
}

.row.cer_idioma {
    margin: 13px 0 0 0px;
}

.idiomas{
    border: 1px solid #00000036;
    padding: 23px;
    margin: 0 0 17px 0px;
}


/*Previo experiencia laboral*/
.image-upload-constancia > input
{
    display: none;
}

.image-upload-constancia img
{
    width: 100px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 50px;
}

.img_pre-constancia img{
    width: 100px;
    height: 70px;
    margin: 0 0 33px 0px;
}


/*ife*/
.image-upload-ife > input
{
    display: none;
}

.image-upload-ife img
{
    width: 148px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 72px;
}

#img_pre_ife img{
    width: 148px;
    height: 100px;
    margin: 0 0 33px 0px;
}

/*domicilio*/
.image-upload-domicilio > input
{
    display: none;
}

.image-upload-domicilio img
{
    width: 148px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 72px;
}

#img_pre_domicilio img{
    width: 148px;
    height: 100px;
    margin: 0 0 33px 0px;
}

/*foto*/
#previos img{

    position: absolute;
    /* border-radius: 37px; */
    margin: -37px 0 0 33px;
    border: 3px solid #00000057;
    border-radius: 100px;
}

.foto_tex_edi {
    margin: 0 0 58px 0;
}

/*foto*/
.image-upload-foto > input
{
    display: none;
}

.image-upload-foto img
{
    width: 100px;
    cursor: pointer;
    margin: 0 0 33px 0px;
    height: 50px;
}

.img_pre_foto img{
    /* width: 100px;
    height: 70px;
    margin: 0 0 33px 0px; */
    position: absolute;
    /* border-radius: 37px; */
    margin: -37px 0 0 33px;
    border: 3px solid #00000057;
    border-radius: 100px;
}

#img_pre_foto img {
    width: 120px;
    height: 120px;
    margin: -27px 0 0 0;
    border-radius: 50%;
    border: 2px gray solid;
}

#previa_foto img{
    width: 120px;
    height: 120px;
    margin: -27px 0 0 0;
    border-radius: 50%;
    border: 2px gray solid;
}

.foto_texto{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 13px 0 0 172px;
}

/*Activo y descativado"*/
.desactivado_index {
    background: #dd4b39;
    width: 122px;
    text-align: center;
    color: white;
    margin: 0 0 0 -2px;
    font-size: 18px;
}


.activo_index {
    background: #00a65a;
    width: 67px;
    text-align: center;
    color: white;
    margin: 0 0 0 17px;
    font-size: 18px;
}

/*menu al crear*/
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    background: #1a2226;
    color: white;

